
*{
  margin: 0;

}

body {
  padding: 0;
  margin: 0;
  background: url("../public/images/Rectangle 1.png");
  background-attachment: fixed;
  width: 100%;
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: Open Sans sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body{
    background-image: url("../public/images/Rectangle 1 (1).png");
  }
}


.app{
  width: 98%;
}

.MuiPaper-root{
  width: 600px!important;
  text-align: center!important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px!important;
}

.MuiDialogActions-root button{
  font-family: Open Sans!important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 202px;
  color: #FFFFFF;
  border: none;
  outline: none;
  background: #01BDA7;
  border-radius: 36px;
  padding: 15px;
}

.dialog1 .close-btn{
  display: none;
}


.MuiDialogActions-root button:hover{
  cursor: pointer;
}

.MuiDialogActions-root button:last-child{
  margin-top: 32px;
  background: #FFFFFF;
  color: #01BDA7;
  border: 1px solid #00BFA5;
}

.MuiDialogActions-root{
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.well-btn{
  background: #00BFA5!important;
  color: white!important;
  border: 1px solid #00BFA5!important;
}

.MuiDialogTitle-root{
  margin-top: 69px!important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: rgba(49, 49, 49, 0.7);
}

@media (max-width: 768px) {


  .MuiPaper-root {
    margin: 0 !important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }

  .MuiDialog-scrollPaper {
    align-items: flex-end !important;
  }

  .MuiDialogTitle-root {
    margin-top: 0 !important;

  }

  .dialog1 .MuiDialogActions-root {
    margin-bottom: 195px!important;
  }

  .dialog1 .MuiDialogActions-root button{
    margin-bottom: 0!important;
  }

  .dialog2 .MuiDialogActions-spacing{
    margin-bottom: unset;
  }

  .well-btn {
    display: none !important;
  }

  .dialog1 .close-btn{
    width: 100%;
    padding: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 25px;
    border: none;
  }

  .MuiDialogActions-root button:last-child{
    margin-top: 28px;
  }
}
